# created by virtualenv automatically
venv/
.idea/

# no python compiled problems
__pycache__/
*.pyc
*.pyo

# testing files
thoth/toke.py
thoth/scratch.py
thoth/timers.db

# nix build output
/result

# testing timer db
timers.db
